<div class="comment" style="border: 1px solid red">
    <div class="comment-author">
        <h4><%= comment.author.email %></h3>
    </div>
    <div class="comment-body">
        <%= comment.body %>
    </div>
    <div class="comment-buttons">
        <%= link_to "View Comment", comment %>
    </div>
</div>